<html xmlns:th="https://www.thymeleaf.org">

<link rel="stylesheet" type="text/css" href="/styles/master.css">
<link rel="stylesheet" type="text/css" href="/styles/mainMenu.css">

<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
    <h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
</div>

<div>
    <a href="button" class="button"> Start Transaction </a>
    <a href="/productListing/" class="button"> View Products </a>
    <a href="/productDetail/" th:class="${classification < 499} ? hidden : 'button'"> Create Employee </a>
    <a href="/productDetail/" th:class="${classification < 499} ? hidden : 'button'"> Sales Report </a>
    <a href="/productDetail/" th:class="${classification < 499} ? hidden : 'button'"> Cashier Report </a>
</div>

