<html xmlns:th="https://www.thymeleaf.org">

<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
    <h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
</div>

<button type="button"> Start Transaction </button>
<button type="button"> View Products </button>
<button type="button" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''"> Create Employee </button>
<button type="button" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''"> Sales Report </button>
<button type="button" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''"> Cashier Report </button>
